<div class="d-flex">
  <div class="setting-buttons">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-outline-dark" (click)="is_collapsed_controls = !is_collapsed_controls" [attr.aria-expanded]="!is_collapsed_controls" aria-controls="controls">
          <fa-icon [icon]="['fas', 'caret-left']" *ngIf="is_collapsed_controls" [fixedWidth]="true"></fa-icon>
          <fa-icon [icon]="['fas', 'caret-right']" *ngIf="!is_collapsed_controls" [fixedWidth]="true"></fa-icon>
      </button>
      <div id="controls" class="btn-group btn-group-sm" aria-label="Controls" [ngbCollapse]="is_collapsed_controls">
        <button [class]="class_play_pause" (click)="onClickedPlay()" type="button" [title]="text_play_pause">
          <fa-icon [icon]="icon_play_pause" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-info" (click)="onClickStep()" type="button" title="Step Forward">
          <fa-icon [icon]="['fas', 'step-forward']" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-warning" (click)="onClickReload()" type="button" title="Reload Board">
          <fa-icon [icon]="['fas', 'redo-alt']" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="is_collapsed_information = !is_collapsed_information" [attr.aria-expanded]="!is_collapsed_information" aria-controls="information">
          <fa-icon [icon]="['fas', 'caret-left']" *ngIf="is_collapsed_information" [fixedWidth]="true"></fa-icon>
          <fa-icon [icon]="['fas', 'caret-right']" *ngIf="!is_collapsed_information" [fixedWidth]="true"></fa-icon>
      </button>
      <div id="information" class="btn-group btn-group-sm" role="group" aria-label="Information" [ngbCollapse]="is_collapsed_information">
        <button class="btn btn-dark" (click)="open(setting)" title="Open Settings">
          <fa-icon [icon]="['fas', 'cog']" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-dark" (click)="open(stats)" title="View Statistics">
          <fa-icon [icon]="['fas', 'chart-pie']" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-dark" (click)="open(keyboard)" title="View Keyboard Shortcuts">
          <fa-icon [icon]="['fas', 'keyboard']" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-dark" (click)="fullscreen()" title="Toggle Fullscreen">
          <fa-icon [icon]="['fas', 'vector-square']" [fixedWidth]="true"></fa-icon>
        </button>
        <button class="btn btn-dark" (click)="open(about)" title="View Information">
          <fa-icon [icon]="['fas', 'info']" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #setting let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Settings</h4>
    <button class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="pb-3">
      <h5>Visual</h5>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.use_color" (ngModelChange)="onChangedVisuals($event)"
          id="use_color" />
        <label class="custom-control-label" for="use_color">Show Colors</label>
      </div>
      <ng-container *ngIf="settings.use_color">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.is_random_color" (ngModelChange)="onChangedVisuals($event)"
            id="random_color" />
          <label class="custom-control-label" for="random_color">Random Colors</label>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="control-label" for="present_color">Present Generation Color</label>
              <input type="color" class="form-control" [(ngModel)]="settings.present_color" (ngModelChange)="onChangedVisuals($event)"
                id="present_color" />
            </div>
          </div>
          <div class="col" *ngIf="settings.show_future">
            <div class="form-group">
              <label class="control-label" for="future_color">Future Generation Color</label>
              <input type="color" class="form-control" [(ngModel)]="settings.future_color" (ngModelChange)="onChangedVisuals($event)"
                id="future_color" />
            </div>
          </div>
        </div>
      </ng-container>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.show_future" (ngModelChange)="onChangedVisuals($event)"
          id="show_future" />
        <label class="custom-control-label" for="show_future">Show Future</label>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.use_seed" (ngModelChange)="onChangedBoard($event)"
          id="use_seed" />
        <label class="custom-control-label" for="use_seed">Use Seed</label>
      </div>
      <ng-container *ngIf="settings.use_seed">
        <div class="form-group">
          <label for="seed">Seed</label>
          <input type="number" class="form-control" [(ngModel)]="settings.seed" (ngModelChange)="onChangedBoard($event)"
            id="seed" />
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <label class="h5" for="cell_spacing">Cell Size</label>
      <input type="range" class="custom-range" min="5" max="25" [(ngModel)]="settings.spacing" (ngModelChange)="onChangedBoard($event)"
        id="cell_spacing" />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light" (click)="default()">Default</button>
  </div>
</ng-template>

<ng-template #stats let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Statistics</h4>
    <button class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm mb-0">
      <thead>
        <tr>
          <th scope="col">Generation</th>
          <th scope="col">Current Alive</th>
          <th scope="col">Total Alive</th>
          <th scope="col">FPS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{ statistics.generation_count }}</td>
          <td>{{ statistics.alive_count }}</td>
          <td>{{ statistics.total_alive }}</td>
          <td>{{ statistics.fps_counter | number: "1.0-0" }}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th scope="col">Cell Size</th>
          <th scope="col">Cell X</th>
          <th scope="col">Cell Y</th>
          <th scope="col">Cell Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{ statistics.cell_size }}</td>
          <td>{{ statistics.cell_x_total }}</td>
          <td>{{ statistics.cell_y_total }}</td>
          <td>{{ statistics.cell_total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #keyboard let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Keyboard Shortcuts</h4>
    <button class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-sm mb-0">
      <thead>
        <tr>
          <th colspan="2">Controls</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Play / Pause</td>
          <td><kbd>P</kbd></td>
        </tr>
        <tr>
          <td>Step Forward</td>
          <td><kbd>D</kbd></td>
        </tr>
        <tr>
          <td>Reload</td>
          <td><kbd>R</kbd></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="2">Board</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Colorful</td>
          <td><kbd>C</kbd></td>
        </tr>
        <tr>
          <td>Show Future</td>
          <td><kbd>F</kbd></td>
        </tr>
        <tr>
          <td>Use Seed</td>
          <td><kbd>S</kbd></td>
        </tr>
        <tr>
          <td>Increase Cell Size</td>
          <td><kbd>.</kbd></td>
        </tr>
        <tr>
          <td>Decrease Cell Size</td>
          <td><kbd>,</kbd></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #about let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">About</h4>
    <button class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <fa-icon [icon]="['fas', 'times']" size="xs"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <img src="/assets/android-chrome-192x192.png">
    </div>
    <h1>Life Elements</h1>
    <p>
      A web application based off of
      <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank" rel="noopener noreferer">Conway's
        Game of Life</a> and an extenstion of the
      <a href="https://projects.brianroadifer.com/game-of-life" target="_blank" rel="noopener noreferer">original
        project</a>. </p>
    <p>Created with <a href="https://angular.io" target="_blank" rel="noopener noreferer">Angular</a>. Made by <a href="https://brianroadifer.com"
        target="_blank" rel="noopener noreferer">Brian Roadifer</a>.</p>
  </div>
</ng-template>
