<div>
  <app-display [settings]="settings" (stats_changed)="onStatisticsChange($event)"></app-display>
  <app-settings [settings]="settings" [statistics]="statistics" (adjusted)="onSettingsChange($event)"></app-settings>
</div>
